img{
    height: 300px;
    width: 200px;
}

body{
    background: lightblue;
}
#main {
display: grid;
grid-template-columns: 70% 30%;
gap: 50px;

}

p {
   
    font-family: 'Roboto Condesnsed' ,sans-serif;
}

li {
   font-family: 'Lato', sans-serif;;
}

h1 {
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 
h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.side-bar{
    background: rgb(255, 227, 191);
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
}
.image-grid > img {
    margin: 10px;
}
  
#image-1{
    float: right;
    margin: 10px;

}

.post{
    border: 2px solid rgb(229, 158,66);
    margin: 10px;
}
.post-title{
    margin-left: 5px;
}

.post-text{
    margin-left: 5px;
    margin-right: 5px;

}